

.box{
    padding:20px;
    background-color:white;
    box-shadow: 1px 2px 2px #BDBDBD;
    border-radius: 25px;
}

a{
color: #03DAC6;
text-decoration: none;
font-weight: 900;
}

a:hover{
color: #00a896;
text-decoration: none;

}

.boxnavbar{
	width:100%;
	margin:0px;
	border:0px;
	padding:10px;
	background-color:white;
	
}

.boxbutton{
    border-top: none;
    border-left: none;
    border-right: none;
     border-bottom: none;
     background-color: #03DAC6;
	height:30px;
	  color: rgba(1, 1, 1, 0.8);
	  font-size:15px;
	  border-radius: 25px; 
     
}

nav a{
    margin-right: 30px;
}

/*dark: #00a896; light: #66fff9 secondary #6200EE*/



.moreInfoButton
{
  border-top: none;
    border-left: none;
    border-right: none;
     border-bottom: none;
      background-color: #03DAC6;
    height:30px;
    color: rgba(1, 1, 1, 0.8);
    font-size:15px;
        border-radius: 20px;
  display: block;
  margin: auto;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    color: rgba(0, 0, 0, 0.83);
    font-family: 'Roboto', sans-serif;
}

.highlight{
    background-color: #03DAC6;
     padding:200px;
}

body{
    padding:1%;
    background-color: #F5F5F5;
    color:rgba(0, 0, 0, 0.83);
     	
}

.text {
    background-color: transparent;
    width:100%;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #BDBDBD 1px;
  	margin-bottom:20px;
   	height:100%;
    font-size:15px;
}

.searchCard {
    margin:8px;
    margin-left:15px;
    font-size:25px;
}


.timeTable{
  table-layout: fixed ;
  width:80%;
  height:90%
}

.timeTable-td{
  width :20%;
  height :20%;
}
/*

     background-color: #03DAC6;
    box-shadow: 2px 2px #018786;
*/
