<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Advisors</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <!--link js here when it is written-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
       <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <!--<link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="table-responsive">
        <div class="box advisor" th:each="obj : ${advisorInfo}">
            <img src = "../imgs/advisor.png" width="200" height="200">
            <div>
                <h1 style="margin: 30px; font-weight: bold; float:left;" th:text="${obj.firstname + ' ' + obj.lastname}"></h1>
                <h6 style="margin-left: 30px; font-weight: bold;" th:text="${obj.employeeEmail}"></h6>
            </div>
            </div>
    </div>
    
		
</body>
</html>