<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Campus Connect... but Better</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <!--link js here when it is written-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
       <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">

</head>
<body>
    <h1 class="display-4"><p th:text="'This is plan, ' + ${plan} + '!'"></p></h1>
    <div layout:fragment="content" class="row">
        <div class="table-responsive" th:each="plan : ${plans}">
            <div>
                <h1 style="font-weight:bold;float:left" th:text ="${plan.plan_type} + '&nbsp;'"></h1> 
	    		<h1 style=" float:left; color: #03DAC6" th:text ="${plan.plan_amount}"></h1>
            </div>
        </div>
    </div>
</body>
</html>