<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Important Dates</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <!--link js here when it is written-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
       <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h1 class="display-4"><p> Important Dates</p></h1>

</body>
</html>