<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Important Dates</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <!--link js here when it is written-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
       <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">

</head>
<body>
    <h1 class="display-4"><p> Important Dates</p></h1>
    <p id = "currentDate"></p>

     <div >
    

            <div class = "table-responsive " id = "displayCalender"> 
                <div class="box" style="margin:10px;float:left" th:each = "date: ${ImpDates}" >
                    
                    
                        <table class = "table" id = "month" style="margin-bottom:0px">
                            <tbody>
                            <td th:text="${date.dateId}"></td>
                            <tr>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>    
                                    <!--<td th:text="${date.startDate}"></td>-->
                                    <td th:text = "${#dates.monthName(date.startDate) + ' ' + #dates.day(date.startDate)}"></td>
                                    <td th:text = "${#dates.monthName(date.endDate) + ' ' + #dates.day(date.endDate)}"></td>
                            </tbody>
                                    
                                </thead>
                            
                        </table>

                </div>

              
        
    </div>
<script type="text/javascript">
    
    var dt = new Date();
    var currentMonth = dt.getMonth() + 1;
    var currentYear = dt.getFullYear();
    var currentDay = dt.getDate();
    var month = document.getElementById("month");

    //being very hacky here LS
    currentMonth = "May";
    sortTable(currentDay, currentMonth, currentYear);
    function sortTable(day, month, currentYear)
     {
        var currentDateString = "" + month + " " + day + " " + currentYear;
        var currentDate = new Date(currentDateString);

        var eventBucket = new Array();
        var eventTables = document.querySelectorAll("[id^='month']");;

        for (m = 0; m < eventTables.length; ++m)
        {
            eventBucket[m] = new Array();
            eventBucket[m][0] = eventTables[m];
        }

        function compareThreeDates(dateCurrent)
        {
            return function(a, b)
            {
                var eventStartDateA = a[0].getElementsByTagName("td")[1].innerHTML;
                var eventStartDateB = b[0].getElementsByTagName("td")[1].innerHTML;

                var eventEndDateA = a[0].getElementsByTagName("td")[2].innerHTML;
                var eventEndDateB = b[0].getElementsByTagName("td")[2].innerHTML;



                var textStartDateA = eventStartDateA + " " + dateCurrent.getFullYear();
                var textStartDateB = eventStartDateB + " " + dateCurrent.getFullYear();

                var textEndDateA = eventEndDateA + " " + dateCurrent.getFullYear();
                var textEndDateB = eventEndDateB + " " + dateCurrent.getFullYear();
                //change the year if needed
                
                var dateEvent_AStart = new Date(textStartDateA);
                var dateEvent_BStart = new Date(textStartDateB);

                var dateEvent_AEnd = new Date(textEndDateA);
                var dateEvent_BEnd = new Date(textEndDateB);
                
               
                if(dateCurrent > dateEvent_AStart && dateCurrent > dateEvent_AEnd)
                {
                    alert("Event A: " + dateEvent_AStart);
                    dateEvent_AStart.setFullYear(dateEvent_AStart.getFullYear() +1);
                    dateEvent_AEnd.setFullYear(dateEvent_AStart.getFullYear())   
                }
                

                if(dateCurrent > dateEvent_BStart && dateCurrent > dateEvent_BEnd)
                {
                    alert("Event B: "  + dateEvent_BStart);
                    dateEvent_BStart.setFullYear(dateEvent_AStart.getFullYear() +1);
                    dateEvent_BEnd.setFullYear(dateEvent_AStart.getFullYear())   
                }
                
                

                return -1;
            }
        }

        
        eventBucket.sort(compareThreeDates(currentDate));
        

 }
</script> 

    <script type="text/javascript">

        var dt = new Date();
        var currentMonth = dt.getMonth() + 1;
        var currentYear = dt.getFullYear();
        var currentDay = dt.getDate();
        var month = document.getElementById("month");

        //being very hacky here LS
        currentMonth = "May";
        document.getElementById("currentDate").innerHTML = dt.toDateString();


        highLightDay(currentDay, currentMonth, currentYear);

        function highLightDay(day, month, currentYear)
        {   
            var currentDateString = "" + month + " " + day + " " + currentYear;
            var eventTables = document.querySelectorAll("[id^='month']");
            var textDate, textDateStartElement, textDateEndElement, i, textStart, textEnd;
            textDateStartElement = -2;
            for (i = 0; i < eventTables.length; ++i)
            {
                textDateStartElement = eventTables[i].getElementsByTagName("td")[1];
                textDateEndElement = eventTables[i].getElementsByTagName("td")[2];


                textStart = textDateStartElement.innerHTML;
                textStart = textStart + " " + currentYear;

                textEnd = textDateEndElement.innerHTML;
                textEnd = textEnd + " " + currentYear;


                var dateEventStart = new Date(textStart);
                var dateEventEnd = new Date(textEnd);

                var currentDate = new Date(currentDateString);

                if (dateEventStart.getTime() <= currentDate.getTime() && dateEventEnd.getTime() >= currentDate.getTime())
                {

                    break;
                }
                textDateStartElement = -2;

            }

            if(textDateStartElement != 2)
            {
                //alert(textTemp);
                var dateTable = textDateStartElement.parentElement.parentElement.parentElement;//if you get tagName you can get table
                dateTable.setAttribute("style", "background-color:#03DAC6");
                //dateTable.style.bgcolor = "yellow";
                //dateTable.style.bgcolor = "yellow";
            }
        }
        
    </script>
</body>
</html>