<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="static/style.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container body-content">
<div class="jumbotron">
    <h1 style="background-color: #03DAC6;">Learn, More, Better.</h1>
</div>


<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="#" class="thumbnail">
                <img src="imgs/graduation.jpg" style=" filter: blur(1px); height: 232px;">
            </a>
            <div>
                <h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Degree Progress</h3>
                <p> Check Courses registered and finished.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="#" class="thumbnail">
                <img src="imgs/info.jpg" style="filter: blur(1px); height: 232px;">
            </a>
            <div>
                <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Student Information</h3>
                <p>Modify Address, Contact phone, Email, etc.</p>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="#" class="thumbnail">
                <img src="imgs/account.jpg" style="filter: blur(1px); height: 232px;">
            </a>
            <div>
                <h3><span class=" glyphicon glyphicon-credit-card" aria-hidden="true"></span>&nbsp;Account Balance</h3>

                <p>Pay tuition and fees.</p>

            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>