<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Student Profile</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="static/style.css">
</head>
<body>

<div class="container body-content">
<div class="jumbotron" style="background-color: #03DAC6;">
    <h1>Welcome back, <span th:text="${Student.getfirstName()}"></span></h1>
    <p>Learn, More, Better.</p>
</div>

<header>
<h1>Student profile<h1>
</header>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="#" class="thumbnail" style="color:black">
              Major:
                <center><h1><span th:text="${Student.getmajor()}"></span></center>         
                          
            </a>
            <div>
                <h3><span style="color:#03DAC6" class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Degree Progress</h3>
                <p> Check Courses. Click for more detail!</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="/studentinfo?id=1234abcd" class="thumbnail" style="color:black">
               Your preffered name: 
               <center><h1><span th:text="${Student.getfirstName()}+${Student.getlastName()}"></span></h1></center>
            </a>
            <div>
                <h3><span style="color:#03DAC6" class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Student Information</h3>
                <p>Modify Address, Contact phone, etc. Click for more detail!</p>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="/accountbalance?id=1234abcd" class="thumbnail" style="color:black">
               You owe: 
               <center><h1><span th:text="${Student.getaccountbalance()}"></span></h1></h1></center>
            </a>
            <div>
                <h3><span style="color:#03DAC6" class=" glyphicon glyphicon-credit-card" aria-hidden="true"></span>&nbsp;Account Balance</h3>

                <p>Pay tuition and fees. Click for more detail!</p>

            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>