<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Student Profile</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="static/style.css">
</head>
<body onload="DisplayData()">
<script>
function DisplayData() {
  var fname = document.getElementById('firstName').value;
  var lname = document.getElementById('lastName').value;
  var gpa = document.getElementById('gpa').value;
  var dlevel = document.getElementById('degreelevel').value;
  document.getElementById('DisplayName').innerHTML = fname+' '+lname;
  document.getElementById('DisplayGPA').innerHTML = gpa;
  document.getElementById('DisplayLevel').innerHTML = dlevel;
}
</script>
   <div class="container body-content">
    <div>
        <div class="row">
            <div class="col-sm-3">
               
            </div>
            <div class="col-sm-9">
            
              
             <div>     
        </div>   
            
            </div>
        </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-center">
                        <img src="imgs/DIBS.jpg" class="img-circle img-thumbnail">
                    </div>
                <center><h1></h1></center>
                     <center><h1 id="DisplayName">
                     </h1></center>
                    <div class="panel panel-default">
                        <div class="panel-heading"><b>Degree(s)</b> </div>
                        <ul class="list-group">
                            <li class="list-group-item text-right"><span class="pull-left"><strong id="DisplayLevel"></strong></span><b>Major</b></li>
                          
                        </ul>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><b>Accumulate GPA</b></div>
                        <center> <H1><span id="DisplayGPA"></span></H1></center>
                    </div>
                </div>
                <div class="col-sm-9">
                <div class="col-md-2 "></div>
                    <div class="col-md-8 box">
                     <h4><b>Student ID:</b> </h4>
                        <form th:object="${studentVar}" action="#" method="post">
                            <h4><b>First name:<b> </h4>
                             <input type="text" class="text" th:field="*{firstName}" placeholder="First name"> 
                            <h4><b>Last name:<b></h4>
                            <input type="text" class="text" th:field="*{lastName}" placeholder="Last name">
                            <h4><b>Email:<b></h4>
                            <input type="email" class="text" th:field="*{email}" placeholder="your@email.com">
                            <h4><b>Password:<b></h4>
                            <input type="password" class="text" th:field="*{pwd}" placeholder="password">
                            <h4><b>Repeat Password:<b></h4>
                            <input type="password" class="text" placeholder="password2">
                            <input type="hidden" class="text" th:field="*{gpa}">
                            <input type="hidden" class="text" th:field="*{major}">
                            <input type="hidden" class="text" th:field="*{minor}">
                            <input type="hidden" class="text" th:field="*{degreelevel}">
                            <div class="col-xs-12">
                                <br>
                                <input type="button" class="boxbutton" value="Save" style="width:100%; margin-right:10px">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </body>
</html>