<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Time Table</title>
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<!--link js here when it is written-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

		<!--<link rel="stylesheet" href="style.css">-->
		<link rel="stylesheet" href="/static/style.css">

	</head>

	<body>
		<h1>My Timetable</h1>
		<table align="center">
			<thead>
				<th scope = "col">Time</th>
				<th scope = "col">Monday</th>
				<th scope = "col">Tuesday</th>
				<th scope = "col">Thursday</th>

			</thead>
			<tr>
				<td></td>
			</tr>
		</table>
		
	</body>
</html>