<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Time Table</title>
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<!--link js here when it is written-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

		<!--<link rel="stylesheet" href="style.css">-->
		<link rel="stylesheet" href="/static/style.css">

	</head>

	<body>
		<h1 class = "display-4">My Timetable</h1>
		<table align="center" cellpadding="5px" border="1" cellspacing="5px" class = "timeTable">
			<thead>
				<th scope = "col">Time</th>
				<th scope = "col">Monday</th>
				<th scope = "col">Tuesday</th>
				<th scope = "col">Wednesday</th>
				<th scope = "col">Thursday</th>
				<th scope = "col">Friday</th>

			</thead>
			<tbody>
				<tr>
					<th scope = "row">8:00 AM</th>
					<td ></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
				</tr>

				<tr>
					<th scope="row">9:00 AM</th>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
				</tr>

				<tr>
					<th scope="row">10:00 AM</th>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
				</tr>

				<tr>
					<th scope="row">11:00 AM</th>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
				</tr>

				<tr>
					<th scope="row">12:00 PM</th>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
				</tr>

				<tr>
					<th scope="row">1:00 PM</th>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
				</tr>

				<tr>
					<th scope="row">2:00 PM</th>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
				</tr>

				<tr>
					<th scope="row">3:00 PM</th>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
				</tr>

				<tr>
					<th scope="row">4:00 PM</th>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
				</tr>

				<tr>
					<th scope="row">5:00 PM</th>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
				</tr>

				<tr>
					<th scope="row">6:00 PM</th>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
				</tr>

				<tr>
					<th scope="row">7:00 PM</th>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
				</tr>

				<tr>
					<th scope="row">8:00 PM</th>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
				</tr>

				<tr>
					<th scope="row">9:00 PM</th>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
					<td><span></span></td>
				</tr>

			</tbody>
		</table>
		
	</body>
</html>